@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

.bg-color {
    background-image: linear-gradient(#100B4A, #491c5e);
    height: 400vh;
}

.intro2coinIt {
width: 90%;
    height: 70vh;
    /* background-color: #c4c4c451; */
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}


.main {
    width: 350px;
    height: 500px;
    /* background: red; */
    overflow: hidden;
    background-image: linear-gradient(#491c5e89, #5b2275);
    /* background: url("../images/pg2bg.jpg") no-repeat center / cover; */
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    margin-top: -1000px;
    margin-left: 40%;
    
}

#chk {
    display: none;
}
.signup {
    position: relative;
    width: 100%;
    height: 100%;
}
.Lbl {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.inpt {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.buttn {
width: 60%;
height: 40px;
margin: 10px auto;
justify-content: center;
display: block;
color: #fff;
background: #1C0038;
font-size: 1em;
font-weight: bold;
margin-top: 20px;
outline: none;
border: none;
border-radius: 5px;
transition: .2s ease-in;
cursor: pointer;
}
.buttn:hover {
background: #120063;
}
.login {
height: 460px;
background: #eee;
border-radius: 60% / 10%;
transform: translateY(-180px);
transition: .8s ease-in-out;
}

.login .Lbl {
    color: #1C0038;
    transform: scale(.6);
}
#chk:checked ~ .login {
    transform: translateY(-500px);
}
#chk:checked ~ .login .Lbl {
    transform: scale(1);
}
#chk:checked ~ .signup .Lbl {
    transform: scale(.6);
}

#signing {
    z-index: 1;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: sticky;
    display: none;
}

.tittle {
    font-family: 'Lalezar', cursive;
    padding-top: 5px; 
    margin-right: -360px;
    text-align: center; 
    color: azure;
    font-size: 50px;
font-weight: 50;}

.paragraph {
    padding-top: 40px;
    color: azure;
font-size: 30px;
text-align: right;
}

.banner {

    margin-top: 10vh; 
    background-color: #c4c4c451; 
    width: 100%; 
    height: 90vh;
}
.element2{
    width: 90vh; 
    height: 60vh;
}

.convImg {
padding-left: 50px;
padding-top: 150px;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
justify-content: space-around;}

.Conv {
    padding-top: 18%;
}
.ConvTxt{
    font-size: 50px;
    color: #e0dede;
    font-weight: bold;
}

.coins {
    width: 100%;
    height: 90vh;
    /* background-color: rgba(54, 74, 149, 0.568); */
    margin-top: 50px;
}

/* chart css */

.h1 {
    font-size: 20px;
}

.h2 {
    font-size: 20px;
}

.h1, 
.h2 {
    font-family: 'Red Hat Text', sans-serif;
    color: #ffffff;
}

/* card container */
.container {
    display: flex;
    justify-content: center;
}


/* cards */
cards {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
   margin-top: 100px;
}

.btc,
.dogecoin,
.binance,
.ethereum {
    display: grid;
    max-width: 300px;
    min-width: 250px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, 60px) 1fr;
    grid-template: 
        "info"
        "chart";
    border-radius: 30px;
}

.btc {
    box-shadow: 10px 10px 20px 1px rgba(247,147,26,.15);
}

.binance {
    box-shadow: 10px 10px 20px 1px rgba(114, 70, 176, 0.15);
}

.ethereum {
    box-shadow: 10px 10px 20px 1px rgba(114, 70, 176, 0.15);
}
.dogecoin {
    box-shadow: 10px 10px 20px 1px rgba(247,147,26,.15);
}
banner

.asset-info {
    grid-area: info;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

.title1 {
    display: inline-flex;
}

card .h1 {
    margin-left: 10px;
}


/* charts */
#btcChart,
#dogeChart,
#binanceChart,
#ethereumChart {
    grid-area: chart;
    border-radius: 0px 0px 30px 30px;
    margin-top: auto;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}
/* end chart css */

.fnto {
    font-family: 'Tajawal', sans-serif;
}


.conver {
/* margin-top: 250px; */
margin-left: auto;
margin-right: auto;
width: 800px;
height: 300px;
font-size: 30px;
}

.converP {
    font-family: 'Tajawal', sans-serif;
font-size: 70px;
color: #e0dede;
text-align: center;
padding: 5px;
margin-top: 20vh;
}

/* .liver {
    /* margin-top: 250px; */
    /* margin-left: auto; */
    /* margin-right: 400px; */
    /* width: 800px;
    height: 300px;
    font-size: 30px; */
    /* }*/ 
     
    .liveWatch {
        font-family: 'Tajawal', sans-serif;
    font-size: 70px;
    color: #e0dede;
    text-align: center;
    padding: 5px;
    margin-top: 20vh;
    }
    .crypto2crypto{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .conver2P {
        font-family: 'Tajawal', sans-serif;
    font-size: 50px;
    text-align: right;
    color: #e0dede;
    text-align: center;
    padding: 5px;
    margin-top: 20vh;
    }

    .coinb {
        margin-top: 20vh; 
        background-color: #c4c4c451; 
        width: 100%; 
        height: 50vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .namec{
        font-family: 'Tajawal', sans-serif;
color: #e0dede;
font-size: 80px;
font-weight: 700;
text-align: right;
margin-top: 100px;

    }

    .coinImg {
        height: 40vh;
        width: 40vh;
        background-color: #491c5eaf;
        border-radius: 50%;
        margin-top: 30px;
    }
    .coinImgg {
        height: 35vh;
        width: 35vh;
margin: 15px; 
}
.LivPrc {
    width: 80vh;
margin-top: 10vh;
margin-left: 70vh;
height: 2vh;
}

.coincharti {
    background-color: #51036763;
    height: 80vh;
    width: 100%;
    margin-top: 25vh;
   display: flex;
   justify-content: center;
   padding-top: 30px;
}

.coinzbnr {
    background-color: #e0dede7d;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.crd {
    height: 30vh;
    width: 30vh;
    background-color: #005A7D45;
    align-items: center;
margin: 12vh;
border-radius: 50%;
display: flex;
justify-content: center;
}

.crdimg {
    height: 25vh;
    width: 25vh;
    
}